@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
/*
CSS RESET
*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
}
table {
    border-collapse: collapse;
}
textarea {
    white-space: revert;
}

/*
GENERAL STYLES
*/
html {
    background-color: #3B4252;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, h2, h3, a {
    font-family: 'Quicksand', sans-serif;
    color: #ECEFF4;
}

h1, h2 {
    font-size: 24px;
}

h3 {
    
}

ul {
    padding: 0;
}

a {
    
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}  
a:visited {
    text-decoration: none;
}

#container {
    margin: auto;
    width: 80%;
    display: flex;
}


/*
IMAGE
*/
#img-container {
    text-align: center;
}

img {
    height: 100%;
    width: 80%;
}

#header-container {

}

#welcome-message-container {

}

date-container {
    
}


#links-container {
    display: flex;
}

.header-container {
    text-align: center;
}

.links-section {
    text-align: center;    
}

/*
WELCOME MESSAGE AND TIME
*/


