/*CSS reset*/
*, *::before, *::after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
}
table {
    border-collapse: collapse;
}
textarea {
    white-space: revert;
}

/*General styles*/
html {
    background-color: #3B4252;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    color: #E5E9F0
}

ul {
    padding: 0;
}

a {
    color: #D8DEE9; 
}

a {
    text-decoration: none;
}

a:link {
    text-decoration: none;
}  
a:visited {
    text-decoration: none;
}

#container {
    margin: auto;
    width: 80%;
    display: flex;
}


/*Image*/
#img-container {
    text-align: center;
}

img {
    height: 100%;
    width: 80%;
}

#header-container {

}

#welcome-message-container {

}

date-container {
    
}


#links-container {
    display: flex;
}

.header-container {
    text-align: center;
}

.links-section {
    text-align: center;    
}

